<a href="https://colab.research.google.com/github/codem1ng2/python/blob/main/24_%EB%B3%80%EC%88%98_%ED%83%80%EC%9E%85_%EC%96%B4%EB%85%B8%ED%85%8C%EC%9D%B4%EC%85%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 변수타입 어노테이션**
파이썬에서 변수 타입 어노테이션(type annotation)은 변수의 예상 타입을 명시적으로 알려주는 방법이다. 파이썬은 기본적으로 동적 타입 언어이기 때문에 변수를 선언할 때 타입을 지정하지 않아도 되지만, 타입 어노테이션을 통해 코드의 가독성을 높이고, IDE나 린터(linter)에서 타입 오류를 미리 잡아낼 수 있도록 도와준다.

# **2. 기본타입 어노테이션**

In [ ]:
name: str = "김사과"
age: int = 20
height: float = 160.5
is_lover: bool = True

# **3. 리스트, 튜플, 딕셔너리, 세트**
컬렉션 타입에 대한 어노테이션은 조금 더 복잡하다. 이를 위해 List, Tuple, Dict, Set 등의 제네릭 타입을 사용하게 된다. 이러한 타입들은 typing 모듈에서 가져올 수 있다.

In [ ]:
from typing import List

In [ ]:
names: List[str] = ["김사과", "오렌지", "반하나"]
age: Tuple[int, int] = (25, 20)
student_scores: Dict[str, float] = {"김사과": 90.5, "오렌지": 88.0}
unique_numbers: Set[int] = {1, 2, 3, 3, 4}

NameError: name 'Tuple' is not defined

In [ ]:
print(names)
print(age)
print(student_scores)
print(unique_numbers)

# **4. 함수**

In [ ]:
def add(a: int, b: int) -> int: # a는 int, b는 int, 결과는 int 자료형으로 처리
    return a + b

add(10, 3)
add("10", "3") # 에러가 발생하지는 않음

# 타입 어노테이션을 확인
add.__annotations__

# **5. 클래스**

In [ ]:
class Student:
    def __init__(self, name: str, age: int):
        self.name = name
        self.age = age
    def __str__(self) -> str:
        return '이름:' + self.name + ', 나이:' + str(self.age)

In [ ]:
def print_student(s: Student) -> None:
    print(f"이름:{s.name}, 나이:{s.age}")

In [ ]:
student = Student('김사과', 20)
print(student)
print_student(student)

# **6. 옵셔널**
변수가 특정 타입이거나 None일 수 있는 경우 Optional을 사용한다.

In [ ]:
from typing import Optional

In [ ]:
def find_score(name: str, scores: Dict[str, float]) -> Optional[float]:
    return scores.get(name)

NameError: name 'Dict' is not defined

In [ ]:
print(find_score('김사과',{'김사과':80, '오렌지:'40, '반하나:'90}))

In [ ]:
print(find_score('이메론',{'김사과':80, '오렌지:'40, '반하나:'90}))

SyntaxError: ':' expected after dictionary key (<ipython-input-5-94f99f9c0e13>, line 1)

# **7. 유니온**
여러 개의 타입이 허용될 수 있는 상황에 사용

In [ ]:
from typing import Optional

In [ ]:
def toString(num: int | float) -> str:
    return str(num)

In [ ]:
print(toString(10))
print(toString(10.4))

10
10.4

In [ ]:
li: List[Union[int, str, float]] = [10, '안녕', 3.14]
print(li)

NameError: name 'List' is not defined

# **8. 파이널**
재할당이 불가능한 변수(즉, 상수)에 대한 타입 어노테이션을 사용

In [ ]:
from typing import Final

In [ ]:
out: Final[int] = 10