<a href="https://colab.research.google.com/github/codem1ng2/python/blob/main/27_%E1%84%91%E1%85%A1%E1%84%8B%E1%85%B5%E1%84%8A%E1%85%A5%E1%86%AB%E1%84%80%E1%85%AA_MySQL%E1%84%8B%E1%85%A7%E1%86%AB%E1%84%83%E1%85%A9%E1%86%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. mysqlclient**
* 파이썬에서 MySQL 데이터베이스와 상호작용하기 위해 사용하는 라이브러리
* PyMySQL, mysqlclient를 가장 많이 사용함
* 사용법은 비슷하나 mysqlclient가 속도상으로 유리하기 때문에 mysqlclient를 권장하고 있음

In [ ]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in /Users/mingi/.pyenv/versions/3.10.7/lib/python3.10/site-packages (2.2.4)

In [ ]:
pip install --upgrade pip

Requirement already satisfied: pip in /Users/mingi/.pyenv/versions/3.10.7/lib/python3.10/site-packages (24.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import MySQLdb

### 1-1. MySQL 접속하기
* MySQLdb.connect(host='ip주소'', user='사용자명', password='비밀번호', db='데이터베이스명')

In [ ]:
db = MySQLdb.connect(host='localhost', user='root', password='rootroot', db='kdt')
print(db)

<_mysql.connection open to 'localhost' at 0x141898810>

### 1-2. cursor 생성하기
* 하나의 데이터베이스 connection에 대해 독립적으로 SQL문을 실행할 수 있는 작업환경을 제공하는 객체
* 하나의 connection에 동시에 한 개의 cursor만 생성할 수 있으며, cursor를 통해 SQL문을 실행하면 실행결과를 튜플 단위로 반환

In [ ]:
cur = db.cursor()
cur.execute('select userid, name, gender, hp from member') # 총 row갯수를 반환

6

### 1-3. SQL문의 결과 가져오기
* fetchall(): 한번에 모든 tuple을 가져옴, 검색 결과가 매우 많다면 메모리 오버헤드가 발생할 수 있음
* fetchine(): 한번에 하나의 tuple을 가져옴, 다시 fetchone() 메서드를 호출하면 다음 데이터를 가져옴

In [ ]:
data = cur.fetchall()
print(data)

(('apple', '김사과', 'F', '010-1111-1111'), ('avocado', '최아보', 'F', '010-4444-4444'), ('banana', '반하나', 'F', '010-2222-2222'), ('cherry', '체리', 'F', '010-6666-6666'), ('melon', '이메론', 'M', '010-5555-5555'), ('orange', '오렌지', 'M', '010-3333-3333'))

In [ ]:
data = cur.fetchall()
print(data)

()

In [ ]:
sql = 'select userid, name, gender, hp from member'
cur.execute(sql)

6

In [ ]:
row = cur.fetchone()
print(row)

('apple', '김사과', 'F', '010-1111-1111')

In [ ]:
row = cur.fetchone()
print(row)

('avocado', '최아보', 'F', '010-4444-4444')

In [ ]:
row = cur.fetchone()
print(row)

('banana', '반하나', 'F', '010-2222-2222')

In [ ]:
row = cur.fetchone()
print(row)

('cherry', '체리', 'F', '010-6666-6666')

In [ ]:
row = cur.fetchone()
print(row)

('melon', '이메론', 'M', '010-5555-5555')

In [ ]:
row = cur.fetchone()
print(row)

('orange', '오렌지', 'M', '010-3333-3333')

In [ ]:
row = cur.fetchone()
print(row)

None

In [ ]:
cur.execute(sql)

6

In [ ]:
while True:
    row = cur.fetchone()
    if row:
        print(row)
    else:
        break

('apple', '김사과', 'F', '010-1111-1111')
('avocado', '최아보', 'F', '010-4444-4444')
('banana', '반하나', 'F', '010-2222-2222')
('cherry', '체리', 'F', '010-6666-6666')
('melon', '이메론', 'M', '010-5555-5555')
('orange', '오렌지', 'M', '010-3333-3333')

### 1-4. 딕셔너리 형태로 결과를 반환하기
* cursor(MySQLdb.cursors.DictCursor)

In [ ]:
cur.execute(sql)

6

In [ ]:
cur = db.cursor(MySQLdb.cursors.DictCursor)
sql = 'select userid, name, gender, hp from member'
cur.execute(sql)
result = cur.fetchall()
print(result)

({'userid': 'apple', 'name': '김사과', 'gender': 'F', 'hp': '010-1111-1111'}, {'userid': 'avocado', 'name': '최아보', 'gender': 'F', 'hp': '010-4444-4444'}, {'userid': 'banana', 'name': '반하나', 'gender': 'F', 'hp': '010-2222-2222'}, {'userid': 'cherry', 'name': '체리', 'gender': 'F', 'hp': '010-6666-6666'}, {'userid': 'melon', 'name': '이메론', 'gender': 'M', 'hp': '010-5555-5555'}, {'userid': 'orange', 'name': '오렌지', 'gender': 'M', 'hp': '010-3333-3333'})

In [ ]:
cur.execute(sql)

6

### 문제
* member 테이블의 데이터를 하나의 row씩 딕셔너리로 가져와 아래와 같이 출력해보자
* 아이디: xxx, 이름: xxx, 성별:xxx,전화번호: xxx

In [ ]:
cur = db.cursor(MySQLdb.cursors.DictCursor)
sql = 'select userid, name, gender, hp from member'
cur.execute(sql)

while True:
    result = cur.fetchone()
    if result:
        print(f"아이디:{result['userid']},이름:{result['name']},성별:{result['gender']},전화번호:{result['hp']}")
    else:
        break

아이디:apple,이름:김사과,성별:F,전화번호:010-1111-1111
아이디:avocado,이름:최아보,성별:F,전화번호:010-4444-4444
아이디:banana,이름:반하나,성별:F,전화번호:010-2222-2222
아이디:cherry,이름:체리,성별:F,전화번호:010-6666-6666
아이디:melon,이름:이메론,성별:M,전화번호:010-5555-5555
아이디:orange,이름:오렌지,성별:M,전화번호:010-3333-3333

### 1-5. Cursor와 Connection닫기

In [ ]:
cur.close() # 커서 닫기
db.close() # 커넥션 닫기

# 2.데이터 삽입하기

In [ ]:
db = MySQLdb.connect(host='localhost', user='root', password='rootroot', db='kdt')
cur = db.cursor()

In [ ]:
sql = 'insert into member (userid, userpw, name, hp, email, gender, ssn1, ssn2, ) values(%s, %s, %s, %s, %s, %s, %s, %s);'

In [ ]:
data = ('mango', '0000', '마앙고', '010-0000-0000', 'mango@mango.com', 'M', '000000', '111111')

In [ ]:
cur.execute(sql, data)
cur = db.cursor()

In [ ]:
sql = 'insert into member(userid, userpw, name, hp, email, gender, ssn1, ssn2) values (%s,%s,%s,%s,%s,%s,%s,%s)'
data = [('berry', '9999', '배애리', '010-9999-9999', 'berry@berry.com', '여자', '999999', '2222222'), ('grapes', '8888', '표도르', '010-8888-8888', 'grapes@grapse.com', '남자', '888888', '8888888')]

In [ ]:
cur.executemany(sql, data)
db.commit()

In [ ]:
cur.close() # 커서 닫기
db.close() # 커넥션 닫기

### 문제2
* 회원가입 프로그램을 만들어보자
* 단, 중복 데이터로 인한 오류시 "다시 입력하세요" 라는 오류처리와 함께 다시 등록할 수 있도록 함
* 단, 회원가입 후 "추가로 가입하겠습니까?(y/n)"를 입력받아 추가로 입력할 수 있도록 함

```
아이디를 입력하세요:xxx
비밀번호를 입력하세요:xxx
이름을 입력하세요:xxx
전화번호를 입력하세요:xxx
이메일을 입력하세요:xxx
성별을 입력하세요:xxx
주민번호 앞자리를 입력하세요:xxx
주민번호 뒷자리를 입력하세요:xxx
우편번호를 입력하세요:xxx
주소를 입력하세요:xxx
상세주소를 입력하세요:xxx
참고사항을 입력하세요:xxx
```

In [ ]:
db = MySQLdb.connect(host='localhost', user='root', password='rootroot', db='kdt')
sql = 'insert into member(userid, userpw, name, hp, email, gender, ssn1, ssn2 ) values(%s, %s, %s, %s, %s, %s, %s, %s);'
cur.executemany(sql)
cur = db.cursor()

while True:
    name = input('사용자 이름 입력:')
    password = input('사용자 비밀번호 입력:')
    try:
        cursor.execute(sql)
        cur.commit()
        print(f"{name}님, 회원가입 완료.")
        while True:
            reg_agian = input("추가로 가입하겠습니까? (y/n): ").lower()
            if reg_again =='y':
                break
            elif reg_again =='n':
                print('끝')
                cursor.close()
                cur.close()
                return
            else:
                print('잘못된 입력. y or n 만')

    except MySQLdb.IntegrityError:
        print("이미 존재하는 사용자입니다. 다시 입력하세요.")

TypeError: BaseCursor.executemany() missing 1 required positional argument: 'args'

In [ ]:
import MySQLdb

# MySQL 연결 설정
db = MySQLdb.connect(host='localhost', user='root', password='rootroot', db='kdt')
cur = db.cursor()

# SQL 쿼리 (데이터 삽입)
sql = 'INSERT INTO member(userid, userpw, name, hp, email, gender, ssn1, ssn2, zipcode, address1,address2,address3) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);'

# 회원가입 반복
while True:
    userid = input('사용자 아이디 입력: ')
    userpw = input('사용자 비밀번호 입력: ')
    name = input('사용자 이름 입력: ')
    hp = input('휴대폰 번호 입력: ')
    email = input('이메일 입력: ')
    gender = input('성별 입력 (M/F): ')
    ssn1 = input('주민등록번호 앞자리 입력: ')
    ssn2 = input('주민등록번호 뒷자리 입력: ')
    zipcode = input('우편번호 뒷자리 입력: ')
    address1 = input('주서 입력: ')
    address2 = input('주소 입력: ')
    address3 = input('주소 입력: ')

    try:
        # SQL 쿼리 실행, 사용자 입력 데이터를 삽입
        cur.execute(sql, (userid, userpw, name, hp, email, gender, ssn1, ssn2))
        db.commit()  # 변경 사항을 커밋

        print(f"{name}님, 회원가입이 완료되었습니다.")

        # 추가 가입 여부 묻기
        while True:
            reg_again = input("추가로 가입하겠습니까? (y/n): ").lower()
            if reg_again == 'y':
                break  # 다시 회원가입 루프로 돌아감
            elif reg_again == 'n':
                print('회원가입을 종료합니다.')
                cur.close()  # 커서 닫기
                db.close()  # 데이터베이스 연결 종료
                exit()  # 프로그램 종료
            else:
                print("잘못된 입력입니다. y 또는 n을 입력하세요.")
                break
    except MySQLdb.IntegrityError:
        print("이미 존재하는 사용자입니다. 다시 입력하세요.")

cur.close()
db.close()

사용자 아이디 입력:  1
사용자 비밀번호 입력:  1
사용자 이름 입력:  1
휴대폰 번호 입력:  11
이메일 입력:  11
성별 입력 (M/F):  m
주민등록번호 앞자리 입력:  111111
주민등록번호 뒷자리 입력:  2222222
우편번호 뒷자리 입력:  123
주서 입력:  123
주소 입력:  432
주소 입력:  123

ProgrammingError: not enough arguments for format string

In [ ]:
cur.close()
db.close()

In [ ]:
import MySQLdb
db = MySQLdb.connect(host='localhost', user='root', password='rootroot', db='kdt')
cur = db.cursor()
while True:
    try:
        userid = input('아이디를 입력하세요: ')
        userpw = input('비밀번호를 입력하세요: ')
        name = input('이름을 입력하세요: ')
        hp = input('전화번호를 입력하세요: ')
        email = input('이메일을 입력하세요: ')
        gender = input('성별을 입력하세요: ')
        ssn1 = input('주민번호 앞자리를 입력하세요: ')
        ssn2 = input('주민번호 뒷자리를 입력하세요: ')
        zipcode = input('우편번호를 입력하세요: ')
        address1 = input('주소를 입력하세요: ')
        address2 = input('상세주소를 입력하세요: ')
        address3 = input('참고사항을 입력하세요: ')
        sql = 'insert into member(userid, userpw, name, hp, email, gender, ssn1, ssn2, zipcode, address1, address2, address3) values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
        data = (userid, userpw, name, hp, email, gender, ssn1, ssn2, zipcode, address1, address2, address3)
        cur.execute(sql, data)
        db.commit()
        print('가입되었습니다')
        yn = input('추가로 가입하겠습니까? (Y/N): ')
        if yn.lower() == 'n':
            print('프로그램을 종료합니다')
            break
    except Exception as e:
        print('다시 입력하세요')
cur.close()
db.close()

아이디를 입력하세요:  kiwi
비밀번호를 입력하세요:  11111
이름을 입력하세요:  기위
전화번호를 입력하세요:  010-1234-4213
이메일을 입력하세요:  kiwi@kiwi.com
성별을 입력하세요:  f
주민번호 앞자리를 입력하세요:  011201
주민번호 뒷자리를 입력하세요:  2012392
우편번호를 입력하세요:  12345
주소를 입력하세요:  서울시
상세주소를 입력하세요:  강남구
참고사항을 입력하세요:  강남미인

가입되었습니다

추가로 가입하겠습니까? (Y/N):  n

프로그램을 종료합니다

In [ ]:
sql = 'update member set zipcode=%s, address1=%s, address2=%s, address3=%s where userid=%s'
data = ('12345', '서울','서초구', '서초동', 'banana')
result = cur.execute(sql, data)
db.commit()

if result > 0:
    print('수정됨')
else:
    print('에러')

cur.close()
db.close()

에러

# 4. 데이터 삭제하기

In [ ]:
db = MySQLdb.connect(host='localhost', user='root', password='rootroot', db='kdt')
cur = db.cursor()

In [ ]:
sql = 'delete from member where userid=%s'
result = cur.execute(sql, ('berry',))
db.commit()

if result > 0:
    print('deleted')
else:
    print('error')

cur.close()
db.close()

deleted

### 문제3
* 로그인 프로그램을 작성 해보자
* 단, 아이디와 비밀번호가 맞은 유저가 있을 경우 "로그인 되었습니다", 유저가 없을경우 "아이디 또는 비밀번호를 확인하세요" 라고 출력

```
아이디를 입력하세요:xxx
비밀번호를 입력하세요:xxx
```

In [ ]:
import MySQLdb
db = MySQLdb.connect(host='localhost', user='root', password='rootroot', db='kdt')
cur = db.cursor()

while True:
    try:
        userid = input('아이디를 입력하세요: ')
        userpw = input('비밀번호를 입력하세요: ')
        sql = 'select * from member where userid = %s and userpw = %s'
        cur.execute(sql, (userid, userpw))
        user = cur.fetchone()

        if user:
            print(f"{user[2]}님, 로그인")
            break
        else:
            print('아이디나 비번 확인하셈 싯팔아')

    except MySQLdb.Error as e:
        print(f"데이터베이스 오류: {e}")
    except Exception as e:
        print(f"오류 발생: {e}")


cur.close()
db.close()

아이디를 입력하세요:  apple
비밀번호를 입력하세요:  1111

김사과님, 로그인
오류 발생: name 'breakᅳ' is not defined

아이디를 입력하세요:  kiwi
비밀번호를 입력하세요:  wiki

아이디나 비번 확인하셈 싯팔아